<%= form_for(@user, multipart: true) do |f| %>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit 'Upload' %>
  </div>
<% end %>
